<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring App</title>
    <link rel="icon" th:href="@{/logo.svg}">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/scripts/main.js}"></script>
</head>
<body>
    <div class="main-form">
        <div class="sidebar sb-mini">
            <div class="menu-item menu-item-mini button" onclick="showPage('home');">
                <img th:src="@{/images/home.png}" alt="user" width="40px" height="40px"/>
            </div>
            <div class="menu-item menu-item-mini button" onclick="showPage('store');">
                <img th:src="@{/images/store.png}" alt="store" width="40px" height="40px"/>
            </div>
            <div class="menu-item menu-item-mini button" onclick="showPage('users');">
                <img th:src="@{/images/user.png}" alt="user" width="40px" height="40px"/>
            </div>
            <div class="menu-item menu-item-mini button sidebar-arrow" onclick="showHideSidebar();">
                <img class="arrow-rotate" th:src="@{/images/arrow.png}" alt="arrow" width="40px" height="40px"/>
            </div>
        </div>
        <div class="sidebar sb-full invisible">
            <div class="menu-item button btn-green" onclick="showPage('home');">Главная</div>
            <div class="menu-item button btn-green" onclick="showPage('store');">Склад</div>
            <div class="menu-item button btn-green" onclick="showPage('users');">Пользователи</div>
            <div class="menu-item button sidebar-arrow" onclick="showHideSidebar();">
                <img th:src="@{/images/arrow.png}" alt="arrow" width="40px" height="40px"/>
            </div>
        </div>
        <div class="work-space indent-92">
            <iframe class="home-page" th:src="@{/home}" seamless></iframe>
            <iframe class="store-page" th:src="@{/store/1}" seamless style="display:none;"></iframe>
            <iframe class="users-page" th:src="@{/users/1}" seamless style="display:none;"></iframe>
        </div>
    </div>
</body>
</html>