<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/grid.css}"/>
    <link rel="stylesheet" th:href="@{/css/modal.css}"/>
    <script type="text/javascript" th:src="@{/scripts/form.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/store.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/modal.js}"></script>
</head>
<body>
    <div class="store-frame">
        <div class="grid-flex" style="justify-content:space-between;">
            <h1>Склад</h1>
            <div class="add-btn button" style="align-self:end;" onclick="showAddForm(true);">
                <img th:src="@{/images/add.png}" alt="arrow" width="40px" height="40px"/>
            </div>
        </div>
        <div class="add-form" style="display:none;">
            <form id="add-product-form" action="#" th:action="@{/save-product}" th:object="${productForm}" method="post">
                <div class="grid-flex">
                    <input type="text" th:field="*{productName}" placeholder="Наименование" onblur="unRequired(this);"/>
                    <select th:field="*{categoryId}" placeholder="Категория" onchange="unRequired(this); setInputColor(this);">
                        <option value="" hidden>Категория</option>
                        <option th:each="category: ${listCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                    <div class="grid-flex">
                        <button type="submit" class="button pos-center">
                            <img th:src="@{/images/check.png}" alt="arrow" width="29px" height="29px"/>
                        </button>
                        <div class="button" onclick="showAddForm(false);">
                            <img th:src="@{/images/close.png}" alt="arrow" width="40px" height="40px"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="grid-row bold">
            <div>Наименование</div>
            <div>Категория</div>
            <div>Дата добавления</div>
            <div>Количество</div>
            <div>Действия</div>
        </div>
        <div class="grid-list" th:each="product: ${listProducts}">
            <div class="grid-row grid-flex">
                <div th:text="${product.id}" style="display:none;"></div>
                <div th:text="${product.name}"></div>
                <div th:text="${product.category.name}"></div>
                <div th:text="${product.dateCreate}"></div>
                <div th:text="${product.actualQuant}"></div>
                <div class="action-btn-block">
                    <div class="button" onclick="showModal(this, true, 'increase');" title="Добавить товар" style="top: 0.3px">
                        <img class="mt-5" th:src="@{/images/add.png}" alt="arrow" width="27px" height="27px"/>
                    </div>
                    <div class="button" onclick="showModal(this, true, 'reduce');" title="Списать товар" style="top: -2.5px">
                        <img class="mt-5" th:src="@{/images/square.png}" alt="arrow" width="22px" height="22px"/>
                    </div>
                    <div class="button" onclick="showModal(this, true, 'del');" title="Удалить товар" style="top: 2px">
                        <img class="mt-5" th:src="@{/images/close.png}" alt="arrow" width="31px" height="31px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-increase" class="modal-mask" style="display:none;">
        <div class="edit-modal">
            <div class="modal-title">Добавить товар</div>
            <form id="increase-product-form" action="#" th:action="@{/increase-quant}" th:object="${operationForm}" method="post">
                <div class="modal-flex">
                    <input type="text" th:field="*{productId}" style="display:none;"/>
                    <input type="text" th:field="*{action}" style="display:none;"/>
                    <input type="text" th:field="*{quant}" placeholder="Количество" onblur="unRequired(this);" onkeypress="intOnly(event)"/>
                    <div class="modal-flex">
                        <button type="submit" class="button pos-center">
                            <img th:src="@{/images/check.png}" alt="arrow" width="29px" height="29px"/>
                        </button>
                        <div class="button" onclick="showModal(this, false, 'increase');">
                            <img th:src="@{/images/close.png}" alt="arrow" width="40px" height="40px"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="modal-reduce" class="modal-mask" style="display:none;">
        <div class="edit-modal">
            <div class="modal-title">Списать товар</div>
            <form id="reduce-product-form" action="#" th:action="@{/reduce-quant}" th:object="${product}" method="post">
                <div class="modal-flex">
                    <input th:field="*{id}" style="display:none;"/>
                    <input type="text" placeholder="Количество" onblur="unRequired(this);" onkeypress="intOnly(event)"/>
                    <div class="modal-flex">
                        <button type="submit" class="button pos-center">
                            <img th:src="@{/images/check.png}" alt="arrow" width="29px" height="29px"/>
                        </button>
                        <div class="button" onclick="showModal(this, false, 'reduce');">
                            <img th:src="@{/images/close.png}" alt="arrow" width="40px" height="40px"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="modal-del" class="modal-mask" style="display:none;">
        <div class="edit-modal">
            <div id="id-block" style="display:none;"></div>
            <div>Вы действительно хотите удалить товар?</div>
            <div class="modal-flex mt-5" style="justify-content:center;">
                <div class="button" style="align-self:center;" onclick="deleteProduct();">
                    <img th:src="@{/images/check.png}" alt="arrow" width="28px" height="28px"/>
                </div>
                <div class="button" style="align-self:center;" onclick="showModal(this, false, 'del');">
                    <img th:src="@{/images/close.png}" alt="arrow" width="40px" height="40px"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
